@font-face {
  font-family: "NFS";
  src: url(./Assets/NFS_by_JLTV.ttf);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.mobileOverflow {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #383DC8;
  background-image: url("./Assets/Images/background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  /* background-position: center; */
  background-attachment: scroll;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  /* padding-bottom: 1000px; */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
@media screen and (max-width: 458px) {
  .navbar {
    display: none;
  }
}

.navLinks {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 1.3em;
}
.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}

.butterfly {
  position: absolute;
  left: -100px;
  width: 300px;
  z-index: -1;
  transition: 0.5 all ease-in-out;
}
@media screen and (max-width: 458px) {
  .butterfly {
    width: 200px;
  }
}

.astronout {
  position: absolute;
  right: -100px;
  bottom: -150px;
  width: 600px;
  z-index: -1;
  transition: 0.5 all ease-in-out;
}
@media screen and (max-width: 458px) {
  .astronout {
    display: none;
    width: 400px;
  }
}

.compName h1 {
  margin-top: 8vh;
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 7em;
  font-weight: 600;
  color: #3bfbf0;
  margin-bottom: 0;
  background: rgb(118, 247, 255);
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  -webkit-background-clip: text;
  text-shadow: 0px 0px 13px rgba(60, 250, 240, 0.35);
}
@media screen and (max-width: 458px) {
  .compName h1 {
    font-size: 3.5em;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: center;
  }
}

.ACSULogo {
  width: 100px;
  margin-left: 20px;
}
@media screen and (max-width: 458px) {
  .ACSULogo {
    width: 80px;
  }
}

.schoolLogo {
  width: 85px;
}
@media screen and (max-width: 458px) {
  .schoolLogo {
    width: 70px;
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.compName {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScienceExtravaganza {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
  color: #02E2CF;
}
@media screen and (max-width: 458px) {
  .ScienceExtravaganza {
    text-align: center;
    font-size: 1.4em;
    margin-top: 50px;
  }
}

.loveForScience {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  margin-top: 30px;
}
@media screen and (max-width: 458px) {
  .loveForScience {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 20px;
    padding: 0 20px 0 20px;
  }
}

.organizedBy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 458px) {
  .organizedBy {
    margin-top: 80px;
  }
}

.organizedText {
  font-size: 1.2em;
  color: #C3CBFF;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  position: absolute;
  bottom: 20px;
}
@media screen and (max-width: 458px) {
  .buttons {
    flex-direction: column;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.button {
  transition: 1s all ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

.register {
  width: 200px;
  height: 50px;
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  border: none;
  border-radius: 10px;
  color: #3D2589;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 31px rgba(37, 252, 233, 0.78);
}
@media screen and (max-width: 458px) {
  .register {
    width: 300px;
  }
}

.moreInfo {
  width: 200px;
  height: 50px;
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  border: none;
  border-radius: 10px;
  color: #3D2589;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 31px rgba(37, 252, 233, 0.78);
}
@media screen and (max-width: 458px) {
  .moreInfo {
    width: 300px;
  }
}
@media screen and (max-width: 458px) {
  .moreInfo {
    margin-bottom: 20px;
  }
}

.aboutWrapper {
  padding: 0 10vw 0 100px;
  margin-top: 200px;
}
@media screen and (max-width: 458px) {
  .aboutWrapper {
    padding: 0 30px 0 30px;
  }
}

.about h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
.about h2 span {
  color: #3bfbf0;
  background: rgb(118, 247, 255);
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  -webkit-background-clip: text;
  text-shadow: 0px 0px 13px rgba(60, 250, 240, 0.35);
}
@media screen and (max-width: 458px) {
  .about h2 {
    font-size: 2.5em;
    margin-top: 150px;
  }
}

.about p {
  font-size: 1.5em;
  padding-right: 150px;
  color: #E3F5FF;
  margin-top: 50px;
}
@media screen and (max-width: 458px) {
  .about p {
    margin-top: 30px;
    font-size: 1.3em;
    padding-right: 0;
  }
}

.theme {
  color: #02E2CF !important;
}

.registerWrapper {
  padding: 0 10vw 0 100px;
  margin-top: 200px;
}
@media screen and (max-width: 458px) {
  .registerWrapper {
    padding: 0 30px 0 30px;
  }
}

.registerSection h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (max-width: 458px) {
  .registerSection h2 {
    font-size: 2.5em;
    margin-top: 150px;
  }
}

@media screen and (max-width: 458px) {
  iframe {
    width: 80vw;
    height: 1500px;
  }
}

.leaderboardWrapper {
  padding: 0 10vw 0 100px;
  margin-top: 200px;
}
@media screen and (max-width: 458px) {
  .leaderboardWrapper {
    padding: 0 30px 0 30px;
  }
}

.leaderboardSection h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (max-width: 458px) {
  .leaderboardSection h2 {
    font-size: 2em;
    margin-top: 150px;
  }
}

.table {
  width: 85vw;
  margin-top: 50px;
  border-collapse: collapse;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intellectWinner {
  background-color: hsla(47deg, 100%, 52%, 0.675) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 40px !important;
  height: 100px !important;
  font-size: 1.5em !important;
  width: 85vw !important;
  font-weight: 600 !important;
  border-radius: 15px !important;
}
@media screen and (max-width: 458px) {
  .intellectWinner {
    font-size: 1.4em !important;
    width: 100vw !important;
  }
}

.intellectRunnerUp {
  background-color: rgba(255, 255, 255, 0.662745098) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 40px !important;
  height: 95px !important;
  font-size: 1.4em !important;
  font-weight: 600 !important;
  border-radius: 15px !important;
  width: 82vw !important;
}
@media screen and (max-width: 458px) {
  .intellectRunnerUp {
    font-size: 1.3em !important;
    width: 95vw !important;
  }
}

.intellect2ndRunnerUp {
  background-color: rgba(186, 164, 69, 0.7137254902) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 40px !important;
  height: 90px !important;
  font-size: 1.3em !important;
  font-weight: 600 !important;
  border-radius: 15px !important;
  width: 79vw !important;
}
@media screen and (max-width: 458px) {
  .intellect2ndRunnerUp {
    font-size: 1.3em !important;
    width: 90vw !important;
  }
}

.intellectLeaderboard {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 77vw;
  background-color: rgba(199, 199, 199, 0.4588235294);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 35px;
  height: 100px;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 15px;
}
@media screen and (max-width: 458px) {
  .intellectLeaderboard {
    font-size: 1.2em;
    width: 85vw;
  }
}

.rankAndName {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.rankAndName p {
  margin-right: 50px;
}

.visualizearaWrapper {
  padding: 0 10vw 0 100px;
  margin-top: 200px;
}
@media screen and (max-width: 458px) {
  .visualizearaWrapper {
    padding: 0 30px 0 30px;
  }
}

.visualizearaSection h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (max-width: 458px) {
  .visualizearaSection h2 {
    font-size: 2em;
    margin-top: 150px;
  }
}

.podiumContainer {
  display: flex;
  width: 100vw;
  margin-left: -5vw;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.podiumContainer img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 458px) {
  .podiumContainer {
    margin-left: 0;
    width: 100%;
  }
}

.secondRunnerUp {
  width: 450px;
  aspect-ratio: 16/9;
  background-color: #02E2CF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondRunnerUp img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 458px) {
  .secondRunnerUp {
    width: 85vw;
    margin-top: -80px;
  }
}

.winner {
  width: 500px;
  aspect-ratio: 16/9;
  background-color: #6ee202;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 458px) {
  .winner {
    width: 90vw;
  }
}

.firstRunnerUp {
  width: 450px;
  aspect-ratio: 16/9;
  background-color: #e2cc02;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 458px) {
  .firstRunnerUp {
    width: 80vw;
  }
}

.placeText {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.personName {
  text-align: center;
  margin-top: 20px;
  color: rgb(209, 209, 209);
  font-weight: 600;
}

.personContainer {
  margin-top: 80px;
}

.winner, .secondRunnerUp, .firstRunnerUp {
  border-radius: 20px;
}

.third {
  font-size: 1.3em;
}

.second {
  font-size: 1.4em;
}

.first {
  font-size: 1.5em;
}

.sponsorsWrapper {
  padding: 0 10vw 0 100px;
  margin-top: 200px;
}
@media screen and (max-width: 458px) {
  .sponsorsWrapper {
    padding: 0 30px 0 30px;
  }
}

.sponsorsSection h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (max-width: 458px) {
  .sponsorsSection h2 {
    font-size: 2.5em;
    margin-top: 150px;
  }
}

.sponsorContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  background: rgba(195, 203, 255, 0.308);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 50px 50px;
  border-radius: 30px;
}
@media screen and (max-width: 458px) {
  .sponsorContainer {
    width: 85vw;
    flex-direction: column;
  }
}

.sponsor1, .sponsor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsor1 img, .sponsor2 img {
  margin-bottom: 20px;
}
@media screen and (max-width: 458px) {
  .sponsor1 img, .sponsor2 img {
    width: 200px;
    margin-top: 0px;
  }
}

.goldSponsor, .eduSponsor {
  font-size: 1.4em;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 458px) {
  .goldSponsor, .eduSponsor {
    text-align: center;
  }
}

.goldSponsor {
  color: #f3bc07;
}
@media screen and (max-width: 458px) {
  .goldSponsor {
    margin-bottom: 100px;
  }
}

.contactWrapper {
  padding: 0 10vw 0 100px;
  margin-top: 200px;
  margin-bottom: 200px;
}
@media screen and (max-width: 458px) {
  .contactWrapper {
    padding: 0 30px 0 30px;
  }
}

.contactSection h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
@media screen and (max-width: 458px) {
  .contactSection h2 {
    font-size: 2.5em;
    margin-top: 150px;
  }
}

.contactInfo {
  margin-top: 50px;
}

.name {
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}
.name span {
  font-weight: 600;
  color: #02E2CF;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: rgba(195, 203, 255, 0.308);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 30px 30px 0 0;
}

.myWork {
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 458px) {
  .myWork {
    font-size: 1.2em;
    padding: 0 20px;
    text-align: center;
  }
}
.myWork a {
  font-weight: 600;
  color: #02E2CF;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */