@font-face {
  font-family: "NFS";
  src: url(./Assets/NFS_by_JLTV.ttf);
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mobileOverflow {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #383DC8;
  background-image: url("./Assets/Images/mini-background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  /* background-position: center; */
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  /* padding-bottom: 1000px; */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}
@media screen and (max-width: 458px) {
  .navbar {
    display: none;
  }
}

.navLinks {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: white;
  list-style: none;
  font-size: 1.3em;
}
.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}

.butterfly {
  position: absolute;
  left: -100px;
  width: 300px;
  z-index: -1;
}
@media screen and (max-width: 458px) {
  .butterfly {
    width: 200px;
  }
}

.astronout {
  position: absolute;
  right: -100px;
  bottom: -150px;
  width: 600px;
  z-index: -1;
}
@media screen and (max-width: 458px) {
  .astronout {
    width: 400px;
  }
}

.compName h1 {
  margin-top: 100px;
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 7em;
  font-weight: 600;
  color: #3bfbf0;
  margin-bottom: 0;
  background: rgb(118, 247, 255);
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  -webkit-background-clip: text;
  text-shadow: 0px 0px 13px rgba(60, 250, 240, 0.35);
}
@media screen and (max-width: 458px) {
  .compName h1 {
    font-size: 3.5em;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: center;
  }
}

.ACSULogo {
  width: 100px;
  margin-left: 20px;
}
@media screen and (max-width: 458px) {
  .ACSULogo {
    width: 80px;
  }
}

.schoolLogo {
  width: 85px;
}
@media screen and (max-width: 458px) {
  .schoolLogo {
    width: 70px;
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.compName {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScienceExtravaganza {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 20px;
  color: #02E2CF;
}
@media screen and (max-width: 458px) {
  .ScienceExtravaganza {
    text-align: center;
    font-size: 1.4em;
    margin-top: 50px;
  }
}

.loveForScience {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  margin-top: 30px;
}
@media screen and (max-width: 458px) {
  .loveForScience {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 20px;
    padding: 0 20px 0 20px;
  }
}

.organizedBy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 458px) {
  .organizedBy {
    margin-top: 80px;
  }
}

.organizedText {
  font-size: 1.2em;
  color: #C3CBFF;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  position: absolute;
  bottom: 50px;
}
@media screen and (max-width: 458px) {
  .buttons {
    flex-direction: column;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.register {
  width: 200px;
  height: 50px;
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  border: none;
  border-radius: 10px;
  color: #3D2589;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 31px rgba(37, 252, 233, 0.78);
}
@media screen and (max-width: 458px) {
  .register {
    width: 300px;
  }
}

.moreInfo {
  width: 200px;
  height: 50px;
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  border: none;
  border-radius: 10px;
  color: #3D2589;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 31px rgba(37, 252, 233, 0.78);
}
@media screen and (max-width: 458px) {
  .moreInfo {
    width: 300px;
  }
}
@media screen and (max-width: 458px) {
  .moreInfo {
    margin-bottom: 20px;
  }
}

.aboutWrapper {
  padding: 0 300px 0 100px;
  margin-top: 200px;
}
@media screen and (max-width: 458px) {
  .aboutWrapper {
    padding: 0 30px 0 30px;
  }
}

.about h2 {
  font-family: "NFS", Courier, sans-serif;
  letter-spacing: 5px;
  font-size: 5em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
.about h2 span {
  color: #3bfbf0;
  background: rgb(118, 247, 255);
  background: linear-gradient(114deg, rgb(118, 247, 255) 0%, rgb(0, 255, 224) 100%);
  -webkit-background-clip: text;
  text-shadow: 0px 0px 13px rgba(60, 250, 240, 0.35);
}
@media screen and (max-width: 458px) {
  .about h2 {
    font-size: 2.5em;
    margin-top: 150px;
  }
}

.about p {
  font-size: 1.5em;
  padding-right: 150px;
  color: #E3F5FF;
  margin-top: 50px;
}
@media screen and (max-width: 458px) {
  .about p {
    margin-top: 30px;
    font-size: 1.3em;
    padding-right: 0;
  }
}/*# sourceMappingURL=style.css.map */