* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #383DC8;
    background-image: url('./Assets/Images/mini-background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    /* background-position: center; */
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    /* padding-bottom: 1000px; */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.navLinks {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 1.3em;

    li {
        a {
            text-decoration: none;
            color: white;
            font-size: 1.1em;
            font-weight: 600;
        }
    }

}